<!DOCTYPE html>
<html>
  <head>
    <title>ThankYou!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input type="hidden" name="_csrf" value=<%= csrftoken %> />
    <p>Your email <%= email %> has been added successfully to our subscribers list.</p>
  </body>
</html>