<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action = "/" method = "POST">
      <input type = "submit" value = "Load encrypted text from MongoDB and decrypt">
    </form>
  </body>
</html>
